.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  gap: 1rem;
}

.loginButton {
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #45a049;
}

.signupButton {
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signupButton:hover {
  background-color: #1e88e5;
}

.logoutButton {
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #d32f2f;
}
